<div class='tableauPlaceholder' id='viz1682946278503' style='position: relative; width: 100%; height: 80%; overflow: auto;'>
    <h1>Basel Convention Background</h1>
    <p>
        The Basel Convention went into effect for signees on May 5th 1992. 
        The purpose of this treaty was to both minimize hazardous waste production as well as promote proper management of non-radioactive hazardous waste. 
        This treaty was particularly focused on preventing transfer of waste from developed to developing countries.  
    </p>
    <p>
        There are five metrics relating to hazardous waste tracked on the maps below: Year over year percent change in hazardous waste incinerated, year over year percent change in hazardous waste landfilled, year over year percent change in hazardous waste treated, year over year percent change in hazardous waste recycled, and hazardous waste generated per capita.
        A success of the Basel Convention would be shown by consistent reduction in waste generated, landfilled, and incinerated and an increase in hazardous waste treated and recycled. 
        A green outline shows that the country accepted the Basel Convention by that year, and a green fill means the waste was moving in the “good” direction.
    </p>
    <noscript>
        <a href='#'>
            <img alt='Waste Gen Dash ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ba&#47;BaselConventionHazardousWaste&#47;WasteGenDash&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='' />
        <param name='name' value='BaselConventionHazardousWaste&#47;WasteGenDash' />
        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ba&#47;BaselConventionHazardousWaste&#47;WasteGenDash&#47;1.png' /> 
        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
        <param name='language' value='en-US' />
    </object>
</div>                
<script type='text/javascript'>                    
    var divElement = document.getElementById('viz1682946278503');                    
    var vizElement = divElement.getElementsByTagName('object')[0];                    
    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='100%';} 
    else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='100%';} 
    else { vizElement.style.width='100%';vizElement.style.height='100%';}                     
    var scriptElement = document.createElement('script');                    
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script>