<div class='tableauPlaceholder' id='viz1682946541434' style='position: relative; width: 100%; height: 80%; overflow: auto;''>
    <h1>
        United Nations Convention to Combat Desertification Background
    </h1>
    <p>
        The United Nations Convention to Combat Desertification was held in 1994 with the purpose of reducing drought and the effects of drought. 
        It has been almost universally accepted globally since 1994. 
        This convention promoted the formation of national as well as regional programmes across the globe with a shared goal. 
        Along with the programs a group of experts was established to publicly disseminate best practices and current knowledge regarding desertification. 
    </p>
    <p>
        The maps below show a number of metrics relating to water availability and processing. 
        Time series for evapotranspiration, ground fresh, and surface water available show changes in environmental systems. 
        The graphs showing water recycling and percent of water supplied to households indicate the efficiency of a country in water processing.    
    </p>
    <noscript>
        <a href='#'>
            <img alt='Fresh Surface Water Dash ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;UN&#47;UNDesertification&#47;FreshSurfaceWaterDash&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='' />
        <param name='name' value='UNDesertification&#47;FreshSurfaceWaterDash' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;UN&#47;UNDesertification&#47;FreshSurfaceWaterDash&#47;1.png' /> 
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-US' />
    </object>
</div>                
<script type='text/javascript'>                    
    var divElement = document.getElementById('viz1682946541434');                    
    var vizElement = divElement.getElementsByTagName('object')[0];                    
    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
    else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
    else { vizElement.style.width='100%';vizElement.style.height='877px';}                     
    var scriptElement = document.createElement('script');                    
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script>