<div class='tableauPlaceholder' id='viz1682945981292'style='position: relative; width: 100%; height: 80%; overflow: auto;'>
    <h1>Paris Agreement Background</h1>
    <p>
        The Paris Agreement is a 2016 international agreement on climate change mitigation and adaptation. 
        The main goal of this agreement is to keep global warming below 2 degrees celcius from pre-industrial levels. 
        This goal suggests stricter emissions regulation than past agreements but allows countries to set their own goals and commitments. 
    </p>
    <p>
        The map below shows the yearly percent change in emissions of three GHGs (SO2, CH4, and CO2) as well as yearly percent change in NOx emissions, which can react to produce GHGs. 
        A success of the agreement would be shown by countries with green outlines having a decrease in these four gasses (indicated by a green fill). 
        Since not all countries shown accepted the agreement immediately there are direct comparisons which can be made.
    </p>
    <p>
        There are a few interesting results from this mapping. 
		One that stands out is the global "elasticity" of these GHG levels. 
		It seems like across Eurasia the emissions of the regulated GHGs seem to fall or rise uniformly for a given year. 
        While this time series ends very soon after the Paris Agreement was enacted, one can see a pattern across countries and their hesitancy to accept regulation.
        Generally it seems that continental Europe is much more willing to accept legislation while Asia and the Middle East are more tentative.
    </p>
    <noscript>
        <a href='#'>
            <img alt='Paris CO2 Dashboard ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;ParisAgreementGHGs&#47;ParisCO2Dashboard&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='' />
        <param name='name' value='ParisAgreementGHGs&#47;ParisCO2Dashboard' />
        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;ParisAgreementGHGs&#47;ParisCO2Dashboard&#47;1.png' /> 
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-US' />
    </object>
</div>                
<script type='text/javascript'>                    
    var divElement = document.getElementById('viz1682945981292');                    
    var vizElement = divElement.getElementsByTagName('object')[0];                    
    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='100%';} 
    else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='100%';} 
    else { vizElement.style.width='100%';vizElement.style.height='100%';}                     
    var scriptElement = document.createElement('script');                    
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script>